body
{
	position: relative;
	background: url(../img/curriculum_bg.png) 0px 135px no-repeat;
	background-size: 100% 100% ;
}

.bg_img_left
{
	position: absolute;
	top: 135px;
	left: 0px;
	z-index: 1;
}

.bg_img_right
{
	position: absolute;
	bottom: 100px;
	right: 0px;
	z-index: 2;
}

.header_nav
{
	background:url(../img/header_nav_bg.jpg) no-repeat;
	background-position:100% 100% ;
}

/*-----------------details start------------------*/
.details_content
{
	position: relative;
	width: 1200px;
	margin: 0px auto;
	padding-bottom: 50px;
	height: 100%;
	overflow: hidden;
	background-color: #FFFFFF;
	z-index: 5;
}

.details_left
{
	width: 210px;
	float: left;
	margin-top:10px ;
	margin-left: 10px;
}

.dl_title
{
	margin-bottom: 10px;
}

.dl_title_img
{
	width: 210px;
	height: 118px;
	
}

.dl_title_img img
{
	width: 100%;
	height: 100%;
}

.dl_title_center
{
	width: 210px;
	height: 30px;
	background-color: #f48282;
}

.dl_title_center p
{
	color: #FFFFFF;
	margin: 0px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}

.dl_title_text
{
	width: 210px;
	height: 30px;
	background-color: #53606d;
}

.dl_title_text p,.dl_title_text h2
{
	color: #FFFFFF;
	margin: 0px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}

.dl_title_text h2
{
	float: left;
	margin-left: 10px;
}

.dl_title_text p
{
	float: right;
	margin-right: 10px;
}

.answer_left{
	background-color: #53606d;
	padding: 20px 15px;
}

.answer_left p{
	color: #FFFFFF;
	margin: 0px 0px 10px 0px;
	font-size: 14px;
}

.storage a{
	display: block;
	width: 80px;
	height: 30px;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	text-align: center;
  	line-height: 30px;
  	font-size: 16px;
  	text-decoration: none;
  	color: #FFFFFF;
  	font-weight: bold;
  	margin-top: 10px;
}

.storage_left
{
	background-color: #6d7e8f;
	float: left;
}

.storage_right{
	background-color: #3a9e6e;
	float: right;
}

.storage_left:hover{
	background-color: #3a9e6e;
}

.submission a{
	display: block;
	width: 180px;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	text-align: center;
  	line-height: 30px;
  	font-size: 16px;
  	text-decoration: none;
  	color: #FFFFFF;
  	background-color: #f48282;
  	font-weight: bold;
  	margin-top: 20px;
}

.serial_number{
	width: 180px;
	min-height: 260px;
	background-color: #FFFFFF;
	padding: 5px 10px;
	margin-top: 30px;
}

.serial_number ul
{
	margin: 0px;
}

.serial_number ul li{
	display: block;
	width: 30px;
	height: 30px;
	color: #616f7e;
	border: 1px solid #616f7e;
	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	border-radius: 50%;
  	text-align: center;
  	line-height: 30px;
  	font-size: 16px;
  	margin: 5px 5px;
  	float: left;
}

.answer_right{
	float: right;
	width: 960px;
	padding: 0px 10px;
}

.text_line
{
	height: 50px;
	border-bottom: 2px solid #000000;
}

.text_line p
{
	margin: 0px;
	line-height: 50px;
	color: #000000;
}

.text_line .title_date
{
	float: left;
}

.problem_scroll{
	position: relative;
}

.problem{
	height: 750px; 
	margin-top: 10px;
	overflow: hidden;
}

.problem_title p{
	color: #6d7e8f;
    font-size: 16px;
    margin: 20px 0px;
}

.problem ul{
	margin: 0px;
}

.problem ul li input{  
	background:none;  
	outline:none;  
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:1px solid #000000;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #53606d;
}


.problem ul li{
	padding: 20px 0px;
	height: 250px;
	border-bottom: 1px solid #cdcdcf;
	background-color: #e5e5e5;
}

.problem ul li .problem_list{
	color: #000000;
	opacity: 0.3;
}

.problem ul .problem_o{
	background-color: #FFFFFF;
}

.problem ul .problem_o .problem_list{
	color: #000000;
	opacity: 1;
}

.mask_bg{
	width: 940px;
}

.top_mask,.middle_mask,.bottom_mask{
	width: 100%;
	height: 250px;
	background-color: rgba(0,0,0,0);
}

.top_mask{
	position: absolute;
	bottom: 500px;
	left: 0px;
}

.middle_mask{
	position: absolute;
	bottom: 250px;
	left: 0px;
}

.bottom_mask{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.none{
	display: none;
}

.problem_list{
	padding: 0px 10px;
}

.problem_list h1{
	font-size: 18px;
	margin: 10px 0px;
	font-weight:bold ;
}

.problem_list p{
	margin: 0px;
}

.problem_list dl dd{
	overflow: hidden;
}

.problem_list dl dd p{
	margin: 0px 0px 0px 10px;
	float: left;
	line-height: 29px;
	font-size: 16px;
}

.radio_course
{
	float: left;
}

.checkbox_course
{
	float: left;
	margin-top: 4px;
}

.check-box{
	margin: 0px;
}

.rdo {
    width: 20px;
    height: 20px;
    background-color: #ea879a;
    margin-right: 30px;
    border-radius: 50%;
    position: relative;
}
.rdo:before,.rdo:after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    transition: 0.3s ease;
}
.rdo:before {
    top: 0px;
    left: 0px;
    width: 19px;
    height: 19px;
    background-color: #fff;
    border: 2px solid #ea879a;
}
.rdo:after{
    top: 5px;
    left: 5px;
    width: 9px;
    height: 9px;
    background-color: #fff; 
}
.rdo:checked:after{
    top: 5px;
    left: 5px;
	width: 9px;
    height: 9px;
    background-color:#ea879a; 
}
.rdo:checked:before{
    border-color:#ea879a; 
}
.serial_number ul .lockingLi{
	border-color: #66ccff;
	color: #ffffff;
	cursor:pointer;
	background: #66ccff;
}
.serial_number ul .ordinaryLi{
	border-color:red;
	color:red;
	cursor:pointer
}