body
{
	background: url(../img/register_bg.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}


.register_bg
{
	position: fixed;
	top: 0;
	right: 15%;
	bottom: 0;
	width: 450px;
	background:url(../img/register_bg_black.png) repeat-y;
}


.register
{
	position: absolute;
	top: 0;
	right: 15%;
	width: 450px;
}

.register a
{
	text-decoration: none;
}

.contshine_code
{
	width: 318px;
	height: 225px;
	margin: 40px auto 0px;
}

.contshine_code img
{
	width: 100%;
	height: 100%;
}

.register h1
{
	margin: 50px 0px 20px 25px;
	font-size: 18px;
	color: #FFFFFF;
}

.register_box
{
	height: 50px;
	margin-top: 30px;
	background-color: #e7e7e7;
}

.register_box ul,.verification ul
{
	margin: 0px;
}

.register_box ul li,.verification ul li
{
	float: left;
}

.register_box ul li img
{
	margin: 13px 5px 0px 15px;
}

.register_box ul li p
{
	line-height: 50px;
	font-size:16px ;
	color: #646464;
	margin: 0px 10px 0px 0px;
}

.register_box ul li input
{
	border: 0px;
	background-color: #e7e7e7;
	outline:none;
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}

.register_box ul li label
{
	line-height: 50px;
	margin: 0px;
}

.register_box ul li select
{
    border: none;
    width: 280px;
	margin: 7px auto 0px;
	box-shadow: none;
	color:#000000;
	padding:0px 15px;
	background-color: #e7e7e7;
}

.form-control:focus,.has-success .form-control:focus,.has-error .form-control:focus
{
	border: none;
	outline: none;
	box-shadow:none;
}

.has-success .form-control-feedback,.has-error .form-control-feedback
{
	line-height: 50px;
}

.has-error .help-block
{
	margin-top: 0px;
	text-align: right;
} 

.getCode
{
	float: left;
}

.registerCode
{
	width: 230px;
	float: left;
}

.registerCode ul li input
{
	width: 100px;
	padding: 0px;
}
.has-feedback .form-control,.has-error .form-control
{
	padding-right: 0px;
}

.sendCodeButton
{
	float: right;
	width: 130px;
	border: 0px;
	outline:none;
	background-color: #1086f3;
	height: 50px;
	font-size: 15px;
	line-height: 50px;
	margin-top:30px;
	padding:0px;
	color: #FFFFFF;
}

.verification
{
	width: 180px;
	height: 50px;
	float: left;
	margin: 20px 0px 0px 25px;
	border-bottom: 1px solid #e7e7e7;
}

.verification ul li img
{
	margin: 13px 5px 0px 0px;
}

.verification ul li p
{
	line-height: 50px;
	font-size:16px ;
	color: #FFFFFF;
	margin: 0px 10px 0px 0px;
}

.verification ul li input
{
	border: 0px;
	background-color: transparent;
	color: #FFFFFF;
	outline:none;
	width: 80px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}

.send_verification
{
	border: 0px;
	outline:none;
	float: left;
	margin: 20px 0px 0px 60px;
	background-color: #1086f3;
	width: 160px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	color: #FFFFFF;
}

.submission
{
	border: 0px;
	outline:none;
	background-color: #1086f3;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	padding:0px;
	color: #FFFFFF;
}

.submission:hover,.send_verification:hover
{
	background-color: #58afff;
}

.hotline
{
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	margin: 60px 0px 40px 0px;
}

.forget
{
	color: #0d6d9e;
	float: right;
	margin: 20px 25px 0px 0px;
}

@media screen and (max-width:1216px)
{
	body
	{
		min-width: 650px;
	}
	
	.register_bg
	{
		display: none;
	}
	
	.register
	{
		background:url(../img/register_bg_black.png) repeat-y;
	}
	
	
}

form {
	width: 400px;
	padding: 15px;
	border: 2px solid gainsboro;
	border-radius: 5px;
	margin: auto;
}
